
:root {
  --base: rgb(200,200,200);
}

body {
  padding: 0;
  background-color: var(--base);
}

.game {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  column-gap: 1rem;
}

.game .box {
  padding: 1rem;
}

.game .players {
  border: 1px solid black;
  flex-grow: 1;
}
.game .players {
  border: 1px solid black;
}
.game .players .name {
  font-weight: bold;
}
.game .players .skill {
  cursor: pointer;
}
.game .players .skill:hover {
  font-weight: bold;
}
.game .players .list {
  overflow-y: auto;
}

.game .story {
  border: 1px solid black;
  flex-grow: 2;
}
.game .story .list {
  overflow-y: auto;
}

.overlay {
  display: none;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  align-items: center;
  justify-content: center;
  background: rgba(50,50,50,0.5)
}
.overlay.open {
  display: flex;
}
.overlay .prompt {
  background-color: white;
  border: 1px solid black;
  width: 50rem;
  height: 20rem;
  padding: 1rem;
}

.tryaction textarea {
  width: 100%;
}
